<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<% for(var i=0; i < noticias.length; i++) { %>
			<a target="_blank" href=<%='localhost:3000/noticia/' + noticias[i].id %>><p><%= noticias[i].nome %></p></a>
		<% } %>

	</body>
</html>